/* .cuadrito es el estilo de los cuadritos que estan en el tablero */
    .cuadrito{
        width:70px;
        height:70px;
        border:solid 4px;
        float:left;
        font-size:25px;
        text-align:center;
    }
    /* es para darle el estilo  de  tablero */
    #div_contenedor{
        width:260px;
        border:solid 0px;
        margin:auto;

    }